<a href="https://colab.research.google.com/github/ProNatalya/python/blob/main/2_5_integer_arithmetics_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Тема урока: работа с целыми числами
## Дополнительные операции

** - возведение в степень

% - остаток от деления

// - целочисленное деление

In [ ]:
print(2 ** 2 ** 3)     # 2 ** (2 ** 3) = 2 ** 8б, слева направо

256

# Целочисленное деление

In [ ]:
print(10 // 3) # отбрасывает десятичную часть
print(10 // 4)
print(10 // 5)
print(10 // 6)
print(10 // 12)

3
2
2
1
0

In [ ]:
# При делении отрицательных чисел округление берётся в меньшую сторону
# (число − 4 меньше, чем число −3)
print(10 // 3)
print(-10 // 3)

3
-4

# Деление с остатком
## Оператор деления с остатком возвращает остаток от деления двух целых чисел.

In [ ]:
print(10 % 3)
print(10 % 4)
print(10 % 5)
print(10 % 6)
print(10 % 12)
print(10 % 20)

1
2
0
4
10
10

In [ ]:
# Наивысший приоритет имеет оператор возведения в степень **
# Полезно прочитать про модулярную арифметику в математике.
# Обратите внимание: результатом деления n % m при n < m является число n.
# Например, 5 % 9 = 5, 3 % 13 = 3 и т.д.

In [ ]:
# Task1 Вычислите результат целочисленного деления.
print(23 // 7)
print(20 // 5)
print(2 // 5)
print(123 // 10)
print(-123 // 10)
# 2 //5 получается 0 и 2 в остатке
# 2 % 5 - остаток от деления 2 на 5, т. е. 2

3
4
0
12
-13

In [ ]:
# Task2 Вычислите остаток от деления.
print(23 % 7)
print(20 % 5)
print(2 % 5)
print(123 % 10)

2
0
2
3

In [ ]:
# Task3 Что будет выведено на экран в результате выполнения следующей программы?
a = 15 // (16 % 7)
b = 34 % a * 5 - 29 % 5 * 2
print(a + b)

29

In [ ]:
# Task4 Что будет выведено на экран в результате выполнения следующей программы?
a = 82 // 3 ** 2 % 7
print(a)

2

# Task5 Геометрическая прогрессия
##Геометрической прогрессией называется последовательность чисел b1,b2,…,bn​, каждое из которых, начиная с b2​, получается из предыдущего умножением на одно и то же постоянное число q (знаменатель прогрессии), то есть
bn​=bn−1​⋅q
Если известен первый член прогрессии и её знаменатель, то n-ый член геометрической прогрессии находится по формуле
bn​=b1​⋅qn−1
Входные данные
На вход программе подаётся три целых числа: b1​, q и n, каждое на отдельной строке.

Выходные данные
Программа должна вывести n-ый член геометрической прогрессии.

In [ ]:
b_1 = int(input())
q = int(input())
n = int(input())
b_n = b_1 * q**(n - 1)
print(b_n)

1
2
5
16

# Task6 Расстояние в метрах

Напишите программу, которая находит полное число метров по заданному числу сантиметров.

Формат входных данных
На вход программе подаётся натуральное число – количество сантиметров.

Формат выходных данных
Программа должна вывести одно число – полное число метров.

Тестовые данные 🟢
Sample Input 1:

345
Sample Output 1:

3
Sample Input 2:

100
Sample Output 2:

1

In [ ]:
sm_count = int(input())
metres_count = sm_count // 100
print(metres_count)

345
3

# Task7 Мандарины


n школьников делят
k мандаринов поровну, неделящийся остаток остается в корзине. Сколько целых мандаринов достанется каждому школьнику? Сколько целых мандаринов останется в корзине?



Формат входных данных
На вход программе подаётся два целых числа: количество школьников и количество мандаринов, каждое на отдельной строке.


Формат выходных данных
Программа должна вывести два числа: количество мандаринов, которое достанется каждому школьнику, и количество мандаринов, которое останется в корзине, каждое на отдельной строке.

Тестовые данные 🟢
Sample Input 1:

3
6
Sample Output 1:

2
0

In [ ]:
students_all = int(input())
mandarins_all = int(input())
mandarin_for_student = mandarins_all // students_all
mandarins_balance = mandarins_all % students_all
print(mandarin_for_student)
print(mandarins_balance)

3
6
2
0

# Task8 Сама неотвратимость 🌶️
Безумный титан Танос собрал все 6 камней бесконечности и намеревается уничтожить половину населения Вселенной по щелчку пальцев. При этом если население Вселенной является нечетным числом, то титан проявит милосердие и округлит количество выживших в большую сторону. Помогите Мстителям подсчитать количество выживших.

Формат входных данных
На вход дается число целое n – население Вселенной.

Формат выходных данных
Программа должна вывести одно число – количество выживших.

Тестовые данные 🟢
Sample Input 1:

99
Sample Output 1:

50
Sample Input 2:

1132
Sample Output 2:

566

In [ ]:
allpopulation = int(input())
died_people = allpopulation // 2
alive_people = allpopulation - died_people
print(alive_people)

99
50

# Task9 Номер купе 🌶️

В купейном вагоне имеется
9 купе с четырьмя местами для пассажиров в каждом. Напишите программу, которая определяет номер купе, в котором находится место с заданным номером (нумерация мест сквозная, начинается с
1)



Формат входных данных
На вход программе подаётся целое число – место с заданным номером в вагоне.

Формат выходных данных
Программа должна вывести одно число – номер купе, в котором находится указаное место.

Тестовые данные 🟢
Sample Input 1:

1
Sample Output 1:

1
Sample Input 2:

2
Sample Output 2:

1
Sample Input 3:

3
Sample Output 3:

1

In [ ]:
# Заметим, что для 1-го купе (предварительно уменьшив на 1 номер места):
# 0 // 4 = 0
# 1 // 4 = 0
# 2 // 4 = 0
# 3 // 4 = 0

# Для 2-го купе:

# 4 // 4 = 1
# 5 // 4 = 1
# 6 // 4 = 1
# 7 // 4 = 1

a = int(input())
b = (a - 1) // 4
print(b)

9
2

In [ ]:
place_number = int(input())# вводимое значение
compartment_numberofplace = ((place_number + 3) // 4) # поскольку мест в купе 4, доьавляем еще три от обнуления при целочисленном делении,
#и собственно делим нацело на 4
print(compartment_numberofplace)

5
2

In [ ]:
# В итоге пришел к такому решению: у нас 36 мест, которые разделены
# на 9 купе, по 4 места в каждом. 36 мест делим на 4, получаем
# количество купе= 9. Но это же и является номером купе, где находится
# 36-ое место. Соответственно такое произведение показывает номер купе,
# но если мы 33/4 то получится 8,25. Поэтому нам нужно такое действие,
# которое округлит наш ответ в большую сторону. Пока я знаю только одну
# операцию связанную с округлением, из материалов урока
# это операция "Целочисленное деление" - (//). Операция делит целые
# числа и округляет ответ до целого значения, но в меньшую сторону.
# Применив её для 33 места, мы получим в ответе ровно 8. [33//4=8].
# но нам надо, чтобы 8,25 округлилось до 9, а не до 8. Соответственно
# нам нужно сделать операцию, которая округлит ответ до целого в большую
# сторону. Такой операции я не знаю. Но если у нас число, которые мы
# делим, будет со знаком минус, то округление будет также в меньшую сторону,
# но само по себе число будет больше. Т.о. -33//4=-9. Поэтому в формуле
# к значению места добавил знак минуса. Чтобы избавиться от минуса в
# ответе, надо умножить ответ на другое число с минусом (вспомнил, что
# минус на минус даёт плюс. Отсюда получилось такое решение.
# Например для опять же 33 места. -33//4=-9. -9*-1=9
place=int(input())
cupe=-place//4
print(cupe*-1)

# Task10 Пересчет временного интервала
Напишите программу для пересчёта величины временного интервала, заданного в минутах, в величину, выраженную в часах и минутах.

Формат входных данных
На вход программе подаётся целое число – количество минут.

Формат выходных данных
Программа должна вывести текст в соответствии с условием задачи.

Тестовые данные 🟢
Sample Input 1:

150
Sample Output 1:

150 мин - это 2 час 30 минут.

In [ ]:
countofminute = int(input())
print(countofminute, 'мин - это', countofminute // 60, 'час', countofminute % 60, 'минут.' )

150
150 мин - это 2 час 30 минут.

# Обработка цифр числа

In [ ]:
num = 17
a = num % 10
b = num // 10
print(a)
print(b)

7
1

In [ ]:
num = 754
a = num % 10
b = (num % 100) // 10
c = num // 100
print(a)
print(b)
print(c)

4
5
7

# Алгоритм получения цифр n-значного числа

# Решение задач

In [ ]:
# Напишите программу, определяющую число десятков и единиц
# в двузначном числе.
# Число единиц – это последняя цифра числа, число десятков – первая
# цифра. Чтобы получить последнюю цифру любого числа, нужно найти
# остаток от деления числа на 10. Чтобы найти первую цифру двузначного
# числа, нужно поделить число нацело на 10.
num = int(input())
last_digit = num % 10
first_digit = num // 10
print('Число десятков =', first_digit)
print('Число единиц =', last_digit)

3456
Число десятков = 345
Число единиц = 6

In [ ]:
# Напишите программу, в которой рассчитывается сумма цифр двузначного
# числа.
num = int(input())
last_digit = num % 10
first_digit = num // 10
print('Сумма цифр =', last_digit + first_digit)

67
Сумма цифр = 13

In [ ]:
# Напишите программу, которая печатает число, образованное при
# перестановке цифр двузначного числа.
num = int(input())
last_digit = num % 10
first_digit = num // 10
print('Искомое число =', last_digit * 10 + first_digit)

56
Искомое число = 65

In [ ]:
# Напишите программу, в которую вводится трёхзначное число и которая
# выводит на экран его цифры (через запятую).
num = int(input())
digit3 = num % 10
digit2 = (num // 10) % 10
digit1 = num // 100
print(digit1, digit2, digit3, sep=',')

789
7,8,9

In [ ]:
# для чайников:

# 123456789  // 1 % 10 ---> 9                (единицы)

# 123456789   // 10 % 10 ---> 8               (десятки)

# 123456789  // 100 % 10 ---> 7               (сотни)

# 123456789  // 1000 % 10 ---> 6             (тысячи)

# 123456789  // 10000 % 10 ---> 5           (десятки тысяч)

# 123456789  // 100000 % 10 ---> 4         (сотни тысяч)

# 123456789  // 1000000 % 10 ---> 3       (миллионы)

# 123456789  // 10000000 % 10 ---> 2     (десятки миллионов)

# 123456789  // 100000000 % 10 ---> 1   (сотни миллионов)

# и т. д.

# Task3 Трехзначное число
Напишите программу, в которой рассчитывается сумма и произведение цифр положительного трёхзначного числа.

Формат входных данных
На вход программе подаётся положительное трёхзначное число.

Формат выходных данных
Программа должна вывести два числа с поясняющим текстом: сумма цифр и произведение цифр.

Тестовые данные 🟢
Sample Input 1:

123
Sample Output 1:

Сумма цифр = 6
Произведение цифр = 6
Sample Input 2:

333
Sample Output 2:

Сумма цифр = 9
Произведение цифр = 27

In [ ]:
a = int(input())
num1 = a // 100
num2 = a // 10 % 10
num3 = a % 10
total_sum = num1 + num2 + num3
multi = num1 * num2 * num3
print('Сумма цифр =',total_sum)
print('Произведение цифр =', multi)

333
Сумма цифр = 9
Произведение цифр = 27

In [ ]:
# решение учителя на степик
number = int(input())

d1 = (number // 10 ** 2) % 10
d2 = (number // 10 ** 1) % 10
d3 = (number // 10 ** 0) % 10
print(d1)
print(1 % 10)

digits_sum = d1 + d2 + d3
digits_prod = d1 * d2 * d3

print("Сумма цифр =", digits_sum)
print("Произведение цифр =", digits_prod)

345
3
1
Сумма цифр = 12
Произведение цифр = 60

# Task4 Перестановка цифр
Дано трехзначное число abc, в котором все цифры различны. Напишите программу, которая выводит шесть чисел, образованных при перестановке цифр заданного числа.

Формат входных данных
На вход программе подаётся положительное трёхзначное целое число, все цифры которого различны.

Формат выходных данных
Программа должна вывести шесть чисел, образованных при перестановке цифр заданного числа в следующем порядке:

abc,acb,bac,bca,cab,cba.

In [ ]:
abc = int(input())
a = abc // 100
b = abc // 10 % 10
c = abc % 10
print(abc)
print(a, c, b, sep='')
print(b, a, c, sep='')
print(b, c, a, sep='')
print(c, a, b, sep='')
print(c, b, a, sep='')

123
123
132
213
231
312
321

#Task5 Четырёхзначное число
Напишите программу для нахождения цифр четырёхзначного числа.

Формат входных данных
На вход программе подаётся положительное четырёхзначное целое число.

Формат выходных данных
Программа должна вывести текст в соответствии с условием задачи.

Тестовые данные 🟢
Sample Input 1:

3281
Sample Output 1:

Цифра в позиции тысяч равна 3
Цифра в позиции сотен равна 2
Цифра в позиции десятков равна 8
Цифра в позиции единиц равна 1

In [ ]:
abcd = int(input())
a = abcd // 1000
b = abcd // 100 % 10
c = abcd // 10 % 10
d = abcd % 10
print('Цифра в позиции тысяч равна', a)
print('Цифра в позиции сотен равна', b)
print('Цифра в позиции десятков равна', c)
print('Цифра в позиции единиц равна', d)

3281
Цифра в позиции тысяч равна 3
Цифра в позиции сотен равна 2
Цифра в позиции десятков равна 8
Цифра в позиции единиц равна 1

In [ ]:
print('*****************')
print('*', '*', sep='               ')
print('*', '*', sep='               ')
print('*****************')

*****************
*               *
*               *
*****************

# Экзамен Размножение n-ок

Напишите программу, которая считывает целое положительное число
n,n∈[1;9] и выводит значение числа
n + nn + nnn.

Формат входных данных
На вход программе подаётся одно целое положительное число
n,n∈[1;9].

Формат выходных данных
Программа должна вывести число
n + nn + nnn.

Примечание. Для первого теста
1
+
11
+
111
=
123
1+11+111=123.

Тестовые данные 🟢
Sample Input 1:

1
Sample Output 1:

123
Sample Input 2:

2
Sample Output 2:

246
Sample Input 3:

3
Sample Output 3:

369
Sample Input 4:

9
Sample Output 4:

1107

In [ ]:
n = int(input())
nn = n * 11
nnn = n * 111
print(n + nn + nnn)
# n + nn + nnn = n + n * 11 + n * 111 = n * (1 + 11 + 111) = n * 123

9
1107

In [ ]:
n = int(input())
result = 123 * n

print(result)

In [ ]:
n = input()
print(int(n) + int(n * 2) + int(n * 3))

9
1107

In [ ]:
a = int(input())
print(a + (a*10 + a) + ((a * 100) + (a * 10 + a)))

In [ ]:
n = input()
nn = n+n
nnn = n+n+n

a = int(n)
b = int(nn)
c= int(nnn)

print(a+b+c)

9
1107