<a href="https://colab.research.google.com/github/ProNatalya/python/blob/main/6_1_data_types_num.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Тема урока: числовые типы данных
### Целочисленный тип данных
### Целые числа в Python представлены типом данных int (сокращение int происходит от слова integer). Для определения целого числа типа int используется последовательность цифр от 0 до 9.

In [ ]:
n = 17  # целочисленный литерал
m = 7   # целочисленный литерал

# Преобразование строки в целое число

In [ ]:
num = int(input())  # преобразование считанной строки в целое число

## Для преобразования строки в целое число не обязательно использовать команду input().

In [ ]:
n = int('12345')  # преобразование строки в целое число
# Если строка не является числом, то при преобразовании
# возникнет ошибка.

## Целочисленные операторы

In [ ]:
a = 13
b = 7

total = a + b
diff = a - b
prod = a * b
div1 = a / b
div2 = a // b
mod = a % b
exp = a ** b

print(a, '+', b, '=', total)
print(a, '-', b, '=', diff)
print(a, '*', b, '=', prod)
print(a, '/', b, '=', div1)
print(a, '//', b, '=', div2)
print(a, '%', b, '=', mod)
print(a, '**', b, '=', exp)

## При обычном делении (/) получается число не являющееся целым. Деление на ноль приводит к ошибке.

## Длинная арифметика
### Отличительной особенностью языка Python является неограниченность целочисленного типа данных.

In [ ]:
atom = 10 ** 80  # количество атомов во вселенной
print('Количество атомов =', atom)

Количество атомов = 100000000000000000000000000000000000000000000000000000000000000000000000000000000

## Символ разделитель

In [ ]:
# Для удобного чтения чисел можно использовать символ подчеркивания:
num1 = 25_000_000
num2 = 25000000
print(num1)
print(num2)

25000000
25000000

## Числа с плавающей точкой
Наравне с целыми числами в Python есть возможность работы с дробными (вещественными) числами. Так, например, числа

π – являются вещественными и целого типа int недостаточно для их представления.

Дробные (вещественные) числа в информатике называют числами с плавающей точкой.

Для представления чисел с плавающей точкой в Python используется тип данных float.

In [ ]:
e = 2.71828  # литерал с плавающей точкой
pi = 3.1415  # литерал с плавающей точкой
# В отличие от математики, где разделителем является запятая,
# в информатике используется точка.

### Преобразование строки к числу с плавающей точкой

### Для преобразования строки к числу с плавающей точкой мы используем команду float():

In [ ]:
num = float(input()) # преобразование считанной строки в число с
# плавающей точкой

6.8966

In [ ]:
n = float('1.2345')  # преобразование строки к числу
# с плавающей точкой
# Если строка не является числом, то при преобразовании
# возникнет ошибка.

### Арифметические операторы
### Язык Python предоставляет четыре основных арифметических оператора для работы с числами с плавающей точкой (+, −, *, /) и один дополнительный (** для возведения в степень).

In [ ]:
a = 13.5
b = 2.0

total = a + b
diff = a - b
prod = a * b
div = a / b
exp = a ** b

print(a, '+', b, '=', total)
print(a, '-', b, '=', diff)
print(a, '*', b, '=', prod)
print(a, '/', b, '=', div)
print(a, '**', b, '=', exp)

13.5 + 2.0 = 15.5
13.5 - 2.0 = 11.5
13.5 * 2.0 = 27.0
13.5 / 2.0 = 6.75
13.5 ** 2.0 = 182.25

In [ ]:
# Деление на ноль приводит к ошибке.

## Преобразование между int и float

### Неявное преобразование. Любое целое число (тип int) можно использовать там, где ожидается число с плавающей точкой (тип float), поскольку при необходимости Python автоматически преобразует целые числа в числа с плавающей точкой.

### Явное преобразование. Число с плавающей точкой нельзя неявно преобразовать в целое число. Для такого преобразования необходимо использовать явное преобразование с помощью команды int().

In [ ]:
num1 = 17.89
num2 = -13.56
num3 = int(num1)
num4 = int(num2)
print(num3)
print(num4)

17
-13

In [ ]:
# Обратите внимание, что преобразование чисел с плавающей точкой
# в целое производится с округлением в сторону нуля,
# то есть int(1.7) = 1, int(-1.7) = -1.

### Не путайте операцию преобразования и округления. Для округления чисел с плавающей точкой используются дополнительные команды. О них расскажем позже.

# Примечание

## Начинающих программистов необходимость преобразования типов зачастую раздражает, но опытные знают, что внимание к типам данных — залог успеха и способ избежать ошибок. В 1996 году французская ракета взорвалась в воздухе из-за проблемы преобразования типов. Хотя ошибка в вашей программе может и не привести к взрыву, все равно имеет смысл уделить время изучению преобразования типов. Написав несколько программ, вы убедитесь, что понимание типов данных помогает не только писать компактный код, но и ясно излагать свои намерения, избегая ошибок в нюансах.

## Авария ракеты-носителя «Ариан-5» (4 июня 1996 года)

In [ ]:
# Площадь треугольника
a = float(input())
b = float(input())
print(a * b / 2)

6
7.5
22.5

In [ ]:
# Две старушки
# Две старушки идут навстречу друг другу с постоянными скоростями
# V 1 и V 2 км/ч. Определите, через какое время (в часах) старушки встретятся,
# если расстояние между ними равно S км.
# Формат входных данных
# На вход программе подаются три числа с плавающей точкой
# S,V1,V2, каждое на отдельной строке.
# Формат выходных данных
# Программа должна вывести одно число в соответствии с условием задачи.
# Примечание. Это очень быстрые старушки.
# Тестовые данные 🟢
# Sample Input 1:
# 60.0
# 15.5
# 14.5
# Sample Output 1:
# 2.0
# Sample Input 2:
# 100.0
# 60.75
# 19.25
# Sample Output 2:
# 1.25
s = float(input())
v1 = float(input())
v2 = float(input())
t = s / (v1 + v2)
print(t)

100
35
60
1.0526315789473684

In [ ]:
a = float(input())
b = float(input())
s = a * b / 2

print(s)

6
9.54
28.619999999999997

In [ ]:
# Обратное число
# Напишите программу, которая считывает с клавиатуры одно число и выводит
# обратное ему. Если при этом введённое с клавиатуры число – ноль, то вывести
# «Обратного числа не существует» (без кавычек).
# Формат входных данных
# На вход программе подается одно действительное число.
# Формат выходных данных
# Программа должна вывести действительное число обратное данному, либо текст
# в соответствии с условием задачи.
# Тестовые данные
# Sample Input 1:
# 2.5
# Sample Output 1:
# 0.4
# Sample Input 2:
# -55.6
# Sample Output 2:
# -0.017985611510791366
# Sample Input 3:
# 0
# Sample Output 3:
# Обратного числа не существует
num1 = float(input())
if num1 != 0:
     print(1 / num1)
else:
     print('Обратного числа не существует')

6
0.16666666666666666

In [ ]:
n = float(input())
if n == 0:
    print("Обратного числа не существует")
else:
    print(n ** -1)

# 451 градус по Фаренгейту

У известного американского писателя Рэя Бредбери есть роман «451 градус по Фаренгейту». Напишите программу, которая определяет, какой температуре по шкале Цельсия соответствует указанное значение по шкале Фаренгейта.

Используйте формулу для перевода:
C= 5 / 9 * ​(F − 32).

Формат входных данных
На вход программе подаётся вещественное число градусов по шкале Фаренгейта.

Формат выходных данных
Программа должна вывести число градусов по шкале Цельсия.

Тестовые данные 🟢
Sample Input 1:

450.55
Sample Output 1:

232.5277777777778
Sample Input 2:

113.75
Sample Output 2:

45.41666666666667
Sample Input 3:

275.0
Sample Output 3:

135.0

In [ ]:
f = float(input())
c = float(5 / 9 * (f - 32))
print(c)

# Dog age
На вход программе подается число
n – количество собачьих лет. Напишите программу, которая вычисляет возраст собаки в человеческих годах.
Формат входных данных
На вход программе подаётся натуральное число – количество собачьих лет.

Формат выходных данных
Программа должна вывести возраст собаки в человеческих годах.

Примечание. В течение первых двух лет собачий год равен
10.5
10.5 человеческим годам. После этого каждый год собаки равен 4 человеческим годам.

Тестовые данные 🟢
Sample Input 1:

1
Sample Output 1:

10.5
Sample Input 2:

2
Sample Output 2:

21
Sample Input 3:

3
Sample Output 3:

25

In [ ]:
dog_age = int(input())
if dog_age <= 2:
    print(dog_age * 10.5)
elif dog_age > 2:
    print(2 * 10.5 + (dog_age - 2) * 4)

4
29.0

In [ ]:
age = int(input())
if age <= 2:
    dog_age = age * 10.5
else:
    dog_age = 2 * 10.5 + (age - 2) * 4
print(dog_age)

4
29.0

# Задача Первая цифра после точки
Дано положительное действительное число. Выведите его первую цифру после десятичной точки.

Формат входных данных
На вход программе подается положительное действительное число.

Формат выходных данных
Программа должна вывести цифру в соответствии с условием задачи.

Тестовые данные 🟢
Sample Input 1:

3384390.4339
Sample Output 1:

4
Sample Input 2:

1.5
Sample Output 2:

5
Sample Input 3:

459933200.23
Sample Output 3:

2

In [ ]:
num = float(input())
a = int(num * 10)
b = a % 10
print(b)

In [ ]:
# решение учителя
n = float(input())
print(int(n * 10) % 10)

4.6
6

# Задача Дробная часть
Дано положительное действительное число. Выведите его дробную часть.

Формат входных данных
На вход программе подается положительное действительное число.

Формат выходных данных
Программа должна вывести дробную часть числа в соответствии с условием задачи.

Примечание. Числа с плавающей точкой (тип float) в Python хранятся в неточном виде, что связано с ограниченным количеством выделенных для них байт в памяти. Поэтому ваша программа может выдавать дробную часть от числа не в ожидаемом виде. Например, для числа 44.45 остаток может выглядеть как:

0.45000000000000284
Наша проверяющая система засчитает как 0.45, так и 0.45000000000000284 правильными ответами.

Тестовые данные 🟢
Sample Input 1:

44.45
Sample Output 1:

0.45
Sample Input 2:

39483.2
Sample Output 2:

0.2
Sample Input 3:

322.4958
Sample Output 3:

0.4958

In [ ]:
num1 = float(input())
num2 = num1 - int(num1)
print(num2)

34.54
0.5399999999999991

In [ ]:
# решение  учителя
n = float(input())

print(n % 1)

In [ ]:
# решение  учителя
a = float(input())

print(a - int(a))

## Встроенные функции

## Функции min() и max()
Аргументов у этих функций может быть любое количество, главное, чтобы они все поддерживали между собой операцию сравнения (например, float и int поддерживают сравнение, а float и str - нет).

In [ ]:
a = max(3, 8, -3, 12, 9)
b = min(3, 8, -3, 12, 9)
c = max(3.14, 2.17, 9.8)
print(a)
print(b)
print(c)

## Функция abs()

## Модулем (абсолютной величиной) положительного числа называется само число, модулем отрицательного числа называется противоположное ему число, модуль нуля – нуль. Модуль числа a обозначается ∣a∣, для него имеет место равенство:

In [ ]:
print(abs(10))
print(abs(-7))
print(abs(0))
print(abs(-17.67))

10
7
0
17.67

In [ ]:
# Обратите внимание, все три функции max(), min(), abs() работают
# как с целыми числами, так и с числами с плавающей точкой.

# Наибольшее и наименьшее
Напишите программу, которая находит наименьшее и наибольшее из пяти чисел.

Формат входных данных
На вход программе подается пять целых чисел, каждое на отдельной строке.

Формат выходных данных
Программа должна вывести наименьшее и наибольшее число с поясняющей надписью.

Тестовые данные 🟢
Sample Input 1:

1
2
3
4
5
Sample Output 1:

Наименьшее число = 1
Наибольшее число = 5
Sample Input 2:

454
453
32
8
6769
Sample Output 2:

Наименьшее число = 8
Наибольшее число = 6769
Sample Input 3:

-3
-11
-499
-888
0
Sample Output 3:

Наименьшее число = -888
Наибольшее число = 0

In [ ]:
a, b, c, d, e = int(input()), int(input ()), int(input()), int(input()), int(input())
f = min(a, b, c, d, e)
g = max(a, b, c, d, e)
print('Наименьшее число =', f)
print('Наибольшее число =', g)

In [ ]:
# решение учителя
a, b, c, d, e = int(input()), int(input()), int(input()), int(input()), int(input())

print("Наименьшее число =", min(a, b, c, d, e))
print("Наибольшее число =", max(a, b, c, d, e))

# Задача Сортировка трёх 🌶️
Напишите программу, которая упорядочивает три числа от большего к меньшему.

Формат входных данных
На вход программе подается три целых числа, каждое на отдельной строке.

Формат выходных данных
Программа должна вывести три числа, каждое на отдельной строке, упорядоченных от большего к меньшему.

Тестовые данные 🟢
Sample Input 1:

132
129
135
Sample Output 1:

135
132
129
Sample Input 2:

150
160
156
Sample Output 2:

160
156
150
Sample Input 3:

161
139
148
Sample Output 3:

161
148
139

In [ ]:
a, b, c = int(input()), int(input()), int(input())
d = min(a, b, c)
e = max(a, b, c)
print(e)
if a <= b <= c or c <= b <= a:
    print(b)
elif b <= a <= c or c <= a <= b:
    print(a)
else:
    print(c)
print(d)

3
3
5
5
3
3

In [ ]:
# Так как у нас всего три числа, то можно найти наибольшее и наименьшее числа
# с помощью функций max(a, b, c) и min(a, b, c), а среднее число -- это разность
# суммы начальных чисел и найденных двух значений:
# a + b + c - max(a, b, c) - min(a, b, c).
a = int(input())
b = int(input())
c = int(input())
print(max(a, b, c))
print(a + b + c - min(a, b, c) - max(a, b, c))
print(min(a, b, c))

5
6
34
34
6
5

# Задача Интересное число
Назовем число интересным, если в нем разность максимальной и минимальной цифры равняется средней по величине цифре. Напишите программу, которая определяет, интересное число или нет. Если число интересное, следует вывести «Число интересное», иначе - «Число неинтересное».

Формат входных данных
На вход программе подается целое трехзначное число.

Формат выходных данных
Программа должна вывести текст в соответствии с условием задачи.

Тестовые данные 🟢
Sample Input 1:

945
Sample Output 1:

Число интересное
Sample Input 2:

123
Sample Output 2:

Число интересное
Sample Input 3:

896
Sample Output 3:

Число неинтересное

In [ ]:
num = int(input())
a = num // 100
b = num // 10 % 10
c = num % 10
d = max(a, b, c)
e = min(a, b, c)
medium = (a + b + c) - d - e
if medium == d - e:
    print('Число интересное')
else:
    print('Число неинтересное')

In [ ]:
n = int(input())
n1 = n // 10 ** 0 % 10
n2 = n // 10 ** 1 % 10
n3 = n // 10 ** 2 % 10
if n1 + n2 + n3 == 2 * max(n1, n2, n3):
    print("Число интересное")
else:
    print("Число неинтересное")

In [ ]:
n = int(input())
n1 = n // 10 ** 0 % 10
n2 = n // 10 ** 1 % 10
n3 = n // 10 ** 2 % 10

mx_digit = max(n1, n2, n3)
mn_digit = min(n1, n2, n3)

if mx_digit - mn_digit == n1 + n2 + n3 - mx_digit - mn_digit:
    print("Число интересное")
else:
    print("Число неинтересное")

In [ ]:
x = int(input())
a = x % 10
b = x // 10 % 10
c = x // 100
if a + b + c == 2 * max(a, b, c):
    print("Число интересное")
else:
    print("Число неинтересное")
# Формулу в операторе if
# max(a, b, c) - min(a, b, c) == (a + b + c) - max(a, b, c) - min(a, b, c)
# можно сократить
# Для тех кто забыл школьную математику:
# Изначально формула: (a+b+c) - max(a,b,c) - min(a,b,c) == max(a,b,c) - min(a,b,c)
# В кратце "x - y - z = y - z", понятно что с обоих сторон (-z) можно сократить.
# Получаем "x - y = y", тут с обоих сторон "y", но с разным знаком,
# вспоминаем "если число перебросить за "=" меняется знак"
# Вот перебрасываем и получаем "x = y + y", что также "x = 2 * y".
# Можно также перебросить правый "y" на лево, тогда будет "x - y - y = 0",
# что также "x + 2 * (-y) = 0" или "x - 2 * y = 0"

In [ ]:
n = int(input())
a, b, c = n // 100, n // 10 % 10, n % 10
print('Число интересное' if max(a, b, c) == a + b + c - max(a, b, c) else 'Число неинтересное')

# Задача Абсолютная сумма
Даны пять чисел a1,a2,a3,a4,a5.
Напишите программу, которая вычисляет сумму их модулей
∣a1∣ + ∣a2∣ + ∣a3∣ + ∣a4∣ + ∣a5∣.

Формат входных данных
На вход программе подается пять действительных чисел
a1, a2, a3, a4, a5, каждое на отдельной строке.

Формат выходных данных.
Программа должна вывести одно число – сумму модулей введённых чисел.

Тестовые данные 🟢
Sample Input 1:

5.4
33
-1232
-3.889
6
Sample Output 1:

1280.289
Sample Input 2:

0
-776.4
0
343
55.24
Sample Output 2:

1174.64
Sample Input 3:

-5.4643234
0
223
5
7
Sample Output 3:

240.4643234

In [ ]:
a1 = float(input())
a2 = float(input())
a3 = float(input())
a4 = float(input())
a5 = float(input())
result = abs(a1) + abs(a2) + abs(a3) + abs(a4) + abs(a5)
print(result)

In [ ]:
a, b, c, d, e = float(input()), float(input()), float(input()), float(input()), float(input())
abs_sum = abs(a) + abs(b) + abs(c) + abs(d) + abs(e)

print(abs_sum)

7.8
6.4
5.0
3.6
2.9
25.7

# Задача Манхэттенское расстояние
Прогуливаясь по Манхэттену, вы не можете попасть из точки А в точку Б по кратчайшему пути. Если только вы не умеете проходить сквозь стены, вам обязательно придется идти вдоль его параллельно-перпендикулярных улиц.

На плоскости манхэттенское расстояние между двумя точками
(p1;p2) и (q1;q2) определяется так
∣p1−q1∣ + ∣p2−q2∣.

Напишите программу определяющую манхэттенское расстояние между двумя точками, координаты которых заданы.

In [ ]:
p1 = int(input())
p2 = int(input())
q1 = int(input())
q2 = int(input())
s = abs(p1 - q1) + abs(p2 - q2)
print(s)

4
7
12
5
10