<a href="https://colab.research.google.com/github/ProNatalya/python/blob/main/7_2_ciclfor_range.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Функция range() с одним параметром

In [1]:
for i in range(10):
    print('Привет', i)

Привет 0
Привет 1
Привет 2
Привет 3
Привет 4
Привет 5
Привет 6
Привет 7
Привет 8
Привет 9

## Перегрузка range() с двумя параметрами
- range(n): создает последовательность чисел 0, 1, 2, 3, ..., n - 1;
- range(n, m): создает последовательность чисел n, n + 1, n + 2, ..., m - 2, m - 1

In [3]:
for i in range(100, 1000):  # перебираем числа от 100 до 999
    if i % 10 == 7:         # используем остаток от деления на 10, для получения
                            # последней цифры
        print(i)

107
117
127
137
147
157
167
177
187
197
207
217
227
237
247
257
267
277
287
297
307
317
327
337
347
357
367
377
387
397
407
417
427
437
447
457
467
477
487
497
507
517
527
537
547
557
567
577
587
597
607
617
627
637
647
657
667
677
687
697
707
717
727
737
747
757
767
777
787
797
807
817
827
837
847
857
867
877
887
897
907
917
927
937
947
957
967
977
987
997

# Перегрузка range() с 3 параметрами
## существует еще одна перегрузка функции range(), принимающая три параметра: range(n, m, k)

In [ ]:
# Напишем программу, которая выводит все четные числа из промежутка [56;170]
for i in range(56, 171, 2):
    print(i)

In [ ]:
# Обратите внимание, мы можем использовать функцию range() с двумя параметрами:
for i in range(56, 171):
    if i % 2 == 0:
        print(i)

# Отрицательный шаг генерации
## Если шаг генерации является положительным числом, то генерируемая последовательность будет возрастать. Мы можем указать отрицательный шаг генерации (третий параметр), что приведет к генерированию убывающей последовательности.

In [4]:
for i in range(5, 0, -1):
    print(i, end=' ')
print('Взлетаем!!!')

5 4 3 2 1 Взлетаем!!!

In [ ]:
# Примеры использования функции range()
# range(10) => 0, 1, 2, 3, 4, 5, 6, 7, 8, 9
# range(1, 10) => 1, 2, 3, 4, 5, 6, 7, 8, 9
# range(3, 7) => 3, 4, 5, 6
# range(7, 3) => пустая последовательность
# range(2, 15, 3) => 2, 5, 8, 11, 14
# range(9, 2, -1) => 9, 8, 7, 6, 5, 4, 3
# range(3, 10, -2) => пустая последовательность

# Примечания
## Функция range() может принимать от одного до трех параметров: range(n), range(n, m), range(n, m, k).
- первый параметр – это старт последовательности (включительно);
- второй параметр – это стоп последовательности (не включительно);
- третий параметр – это величина шага.
## Функция range() может генерировать только целые числа, включая отрицательные.

In [8]:
# Величина шага не может равняться нулю. Следующий код:
#for i in range(1, 10, 0):
#   print(i)
# приведет к ошибке ValueError: range() arg 3 must not be zero

# Task1 Последовательность чисел 1
Даны два целых числа m и n (m≤n). Напишите программу, которая выводит все числа от m до n включительно.

Формат входных данных
На вход программе подаются два целых числа
m и n, каждое на отдельной строке.

Формат выходных данных
Программа должна вывести числа в соответствии с условием задачи.

Тестовые данные 🟢
Sample Input:

1
9
Sample Output:

1
2
3
4
5
6
7
8
9

In [9]:
m = int(input())
n = int(input())
for i in range(m, n+1):
    print(i)

1
9
1
2
3
4
5
6
7
8
9

# Task2 Последовательность чисел 2 🌶️
Даны два целых числа m и n. Напишите программу, которая выводит все числа от m до n включительно в порядке возрастания, если m < n, или в порядке убывания в противном случае.

Формат входных данных
На вход программе подаются два целых числа m и n, каждое на отдельной строке.

Формат выходных данных
Программа должна вывести числа в соответствии с условием задачи.

Тестовые данные 🟢
Sample Input 1:

1
5
Sample Output 1:

1
2
3
4
5
Sample Input 2:

7
1
Sample Output 2:

7
6
5
4
3
2
1

In [10]:
m = int(input())
n = int(input())
if m < n:
    for i in range(m, n + 1, +1):
        print(i)
else:
    for i in range(m, n - 1, -1):
        print(i)

7
1
7
6
5
4
3
2
1

# Task3 Последовательность чисел 3 🌶️
Даны два целых числа m и n (m>n).
Напишите программу, которая выводит все нечетные числа от
m до n включительно в порядке убывания.

Формат входных данных
На вход программе подаются два целых числа m и n, каждое на отдельной строке.

Формат выходных данных
Программа должна вывести числа в соответствии с условием задачи.

Примечание. Попробуйте решить задачу двумя способами: с использованием условного оператора if и без него.

Тестовые данные 🟢
Sample Input 1:

77
62
Sample Output 1:

77
75
73
71
69
67
65
63
Sample Input 2:

6
-2
Sample Output 2:

5
3
1
-1

In [11]:
m = int(input())
n = int(input())
for i in range(m, n-1, -1):
    if i % 2 != 0:
        print(i)

6
-2
5
3
1
-1

In [12]:
m, n = int(input()), int(input())

start = ((m - 1) // 2) * 2 + 1

for i in range(start, n - 1, -2):
    print(i)

6
-2
5
3
1
-1

In [ ]:
m, n = int(input()), int(input())
for i in range(m - 1 + m % 2, n - 1, -2):
    print(i)

In [13]:
m = int(input())
n = int(input())
k = 1 - m % 2
for i in range(m, n, - 2):
    print(i - k)

6
-2
5
3
1
-1

# Task4 Последовательность чисел 4
Даны два натуральных числа m и n (m ≤ n). Напишите программу, которая выводит все числа от m до n включительно удовлетворяющие хотя бы одному из условий:

число кратно
17
17;
число оканчивается на
9
9;
число кратно
3
3 и
5
5 одновременно.
Формат входных данных
На вход программе подаются два натуральных числа m и n
(m ≤ n), каждое на отдельной строке.

Формат выходных данных
Программа должна вывести числа в соответствии с условием задачи.

Примечание. Если чисел удовлетворяющих условию нет, выводить ничего не надо.

Тестовые данные 🟢
Sample Input 1:

1
20
Sample Output 1:

9
15
17
19
Sample Input 2:

17
17
Sample Output 2:

17
Sample Input 3:

19
19
Sample Output 3:

19

In [14]:
m = int(input())
n = int(input())
for i in range(m, n + 1):
    if (i % 17 == 0) or (i % 10 == 9) or (i % 3 == 0 and i % 5 == 0):
        print(i)

1
20
9
15
17
19

In [15]:
m, n = int(input()), int(input())

for i in range(m, n + 1):
    if i % 17 == 0 or i % 10 == 9 or i % 15 == 0:
        print(i)

17
17
17

# Task5 Таблица умножения
Дано натуральное число n. Напишите программу, которая выводит таблицу умножения на n (от 1 до 10 включительно).

Формат входных данных
На вход программе подается натуральное число.

Формат выходных данных
Программа должна вывести таблицу умножения на введенное число.

Примечание. В качестве знака умножения используйте английскую букву x.

Тестовые данные 🟢
Sample Input 1:

5
Sample Output 1:

5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50
Sample Input 2:

9
Sample Output 2:

9 x 1 = 9
9 x 2 = 18
9 x 3 = 27
9 x 4 = 36
9 x 5 = 45
9 x 6 = 54
9 x 7 = 63
9 x 8 = 72
9 x 9 = 81
9 x 10 = 90
Sample Input 3:

4
Sample Output 3:

4 x 1 = 4
4 x 2 = 8
4 x 3 = 12
4 x 4 = 16
4 x 5 = 20
4 x 6 = 24
4 x 7 = 28
4 x 8 = 32
4 x 9 = 36
4 x 10 = 40

In [ ]:
n = int(input())
for i in range(1,11):
    print(n, 'x', i, '=', n*i)

In [ ]:
n = int(input())

for i in range(1, 11):
    print(n, 'x', i, '=', n * i)